@using ProductionManagementSystem.Core.Models.Logs
@model ProductionManagementSystem.Core.Models.Logs.Log;

@{
    ViewData["Title"] = "Подробная информация";
}
<h4>Подробная информация</h4>
<div class="alert alert-info" role="alert">
    Здесь вы можете узнать подробную информацию
</div>
<hr />
<div>
    <h4>Логи</h4>
    <hr />
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-6">
            @Html.Raw(Model.Message)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-light btn-sm" asp-action="Index">Вернуться к логам</a>
    @if (Model.ItemType == LogsItemType.Design)
    {
        <a class="btn btn-light btn-sm" asp-controller="Designs" asp-action="Details" asp-route-id="@Model.ItemId">Перейти к конструктиву</a>
    }
    @if (Model.ItemType == LogsItemType.Montage)
    {
        <a class="btn btn-light btn-sm" asp-controller="Montages" asp-action="Details" asp-route-id="@Model.ItemId">Перейти к монтажу</a>
    }
    @if (Model.ItemType == LogsItemType.Device)
    {
        <a class="btn btn-light btn-sm" asp-controller="Devices" asp-action="Details" asp-route-id="@Model.ItemId">Перейти к прибору</a>
    }
    @if (Model.ItemType == LogsItemType.Task)
    {
        <a class="btn btn-light btn-sm" asp-controller="Tasks" asp-action="Details" asp-route-id="@Model.ItemId">Перейти к задаче</a>
    }
    @if (Model.ItemType == LogsItemType.Order)
    {
        <a class="btn btn-light btn-sm" asp-controller="Orders" asp-action="Details" asp-route-id="@Model.ItemId">Перейти к заказу</a>
    }
</div>