@{
    ViewBag.Title = "Получение конструктива";
}
<a class="btn btn-light" asp-action="Details" asp-route-id="@ViewBag.TaskId">Перейти к задаче</a>
<form action="" method="post">
    <input hidden value="@ViewBag.TaskId" name="TaskId">
    <table class="table">
        <thead>
        <tr>
            <td>Наименование</td>
            <td>Количество в задании</td>
            <td>Количество на складе</td>
            <td>Получено</td>
            <td>Получить</td>
        </tr>
        </thead>
        @foreach (var des in ViewBag.Designs)
        {
            var obtainedDes = ((IEnumerable<dynamic>) ViewBag.ObtainedDesigns).FirstOrDefault(d => des.Design.Id == d.Design.Id);
            <tr @if (des.Quantity <= obtainedDes.Obtained) 
                { 
                    @:class="table-success" 
                }> 
                <td>@des.Design.ToString()</td>
                <td>@des.Quantity</td>
                <td>@des.Design.Quantity</td>
                <td>@obtainedDes.Obtained</td>
                <td><input type="number" name="DesignObt" autocomplete="off" required min="-@obtainedDes.Obtained" max="@des.Design.Quantity" value="0"></td>
            </tr>
            <input type="number" name="DesignIds" hidden value="@obtainedDes.Id"/>
        }
    </table>
    <button class="btn">Получить</button>
</form>