@{
    ViewBag.Title = "Получение монтажа";
}
<a class="btn btn-light" asp-action="Details" asp-route-id="@ViewBag.TaskId">Перейти к задаче</a>
<form action="" method="post">
    <input hidden value="@ViewBag.TaskId" name="TaskId">
    <table class="table">
        <thead>
        <tr>
            <td>Наименование</td>
            <td>Количество в задании</td>
            <td>Количество на складе</td>
            <td>Получено</td>
            <td>Получить</td>
        </tr>
        </thead>
        @foreach (var comp in ViewBag.Components)
        {
            var obtainedComp = ((IEnumerable<dynamic>) ViewBag.ObtainedComponents).FirstOrDefault(c => comp.Component.Id == c.Component.Id);
            <tr @if (comp.Quantity <= obtainedComp.Obtained) 
                { 
                    @:class="table-success" 
                }> 
                <td>@comp.Component.Name</td>
                <td>@comp.Quantity</td>
                <td>@comp.Component.Quantity</td>
                <td>@obtainedComp.Obtained</td>
                <td><input type="number" name="ComponentObt" autocomplete="off" required min="-@obtainedComp.Obtained" max="@comp.Design.Quantity" value="0"></td>
            </tr>
            <input type="number" name="ComponentIds" hidden value="@obtainedComp.Id"/>
        }
    </table>
    <button class="btn btn-light">Получить</button>
</form>