@model ProductionManagementSystem.Core.Models.UniversalItem

<div class="bx--row">
  <div class="bx--col-md-1">
    <img src="@Model.ImagePath" alt="" class="altiumdb--entity-table--image"/>
  </div>
  <div class="bx--col-md-4">
    <div class="bx--grid">
      <div class="bx--row"><a href="@Model.Path" target="_blank">@Model.Name</a></div>
      <div class="bx--row" style="height: 4px"></div>
      <div class="bx--row">@Model.PartNumber</div>
      <div class="bx--row" style="height: 4px"></div>
      <div class="bx--row">@Model.Category</div>
    </div>
  </div>
  <div class="bx--col-md-3">
    @Model.Description
  </div>
</div>