@model IEnumerable<ProductionManagementSystem.Core.Models.Components.Design>;

@{
    ViewData["Title"] = "Конструктив";
}

<h2>Cписок конструктива</h2>
<div class="row">
    <div class="col">
        <form asp-action="Index" method="get">
            <div class="input-group mb-3 col-4">
                <input type="text" name="SearchString" class="form-control" placeholder="" list="datalistNameDesigns" aria-describedby="button-addon1" autocomplete="off" value="@ViewData["CurrentFilter"]"/>
                <button type="submit" class="btn btn-outline-secondary" id="button-addon1">Поиск</button>
                <datalist id="datalistNameDesigns">
                    @foreach (var name in ViewBag.AllDesigns)
                    {
                        <option value="@name"/>
                    }
                </datalist>
            </div>
        </form>
    </div>
    <div class="col-8 d-flex align-items-center justify-content-end">
        @if (@ViewData["CurrentFilter"] == null)
        {
            <p class="d-flex">На складе @ViewBag.CountComponents наименований конструктива</p>
        }
        else
        {
            <p class="d-flex">Было найдено @ViewBag.CountComponents наименований конструктива | <a asp-action="Index"> Вернуться к полному списку</a></p>
                
        }
    </div>
</div>
<div class="table-responsive-xl">
    <table class="table table-sm">
        <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]">@Html.DisplayNameFor(model => model.Type)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["QuantitySortParm"]">@Html.DisplayNameFor(model => model.Quantity)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th class="td-with-buttons">
                <a class="btn btn-primary btn-sm" asp-action="Create">Создать новый</a>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <div class="overflow-hidden text-truncate description">
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </div>
                </td>
                <td>
                    <a class="btn btn-light btn-sm" asp-action="Details" asp-route-id="@item.Id">Подробности</a>
                    <a class="btn btn-light btn-sm" asp-action="Add" asp-route-id="@item.Id">Добавить</a>
                    <a class="btn btn-light btn-sm" asp-action="Receive" asp-route-id="@item.Id">Получить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <partial name="Partail/_Pagination" />
</div>
