@using ProductionManagementSystem.Core.Models.Users
@model ProductionManagementSystem.WEB.Models.AltiumDB.DataListViewModel<ProductionManagementSystem.Core.Models.CDBTask>

@{
  ViewBag.Title = "Задачи";
  Layout = "_AltiumDBLayout";
}

<div class="bx--data-table-container " data-table>
<form method="get" action="" id="tableFiltersForm">
  @if (Model.Pagination != null)
    {
      <input type="hidden" name="page" value="@(Model.Pagination.CurrentPage)">
      <input type="hidden" name="itemPerPage" value="@(Model.Pagination.ItemPerPage)">
    }
  <div class="bx--data-table-header">
    <div class="bx--grid bx--grid--full-width">
      <div class="bx--row bx--row-padding">
        <div class="bx--col-lg-12">
          <h4 class="bx--data-table-header__title">@ViewBag.Title</h4>
        </div>
      </div>
      <partial name="Partail/Tables/Filter" model="Model.Filters"/>
    </div>
  </div>
  <section class="bx--table-toolbar  bx--table-toolbar--small ">
    <div class="bx--toolbar-content">
      <partial name="Partail/CarbonUIComponents/SearchInTableSm"></partial>
        <button type="button" class="bx--btn bx--btn--sm bx--btn--primary" onclick="location.href='@Url.Action("Create")'">
          Создать задачу
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--btn__icon" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
            <path d="M17 15L17 7 15 7 15 15 7 15 7 17 15 17 15 25 17 25 17 17 25 17 25 15 17 15z"></path>
          </svg>
        </button>
    </div>
  </section>
</form>

<!-- End Toolbar Content -->
<!-- Table -->
<table class="bx--data-table  bx--data-table--sort bx--data-table--visible-overflow-menu bx--data-table--compact">
  <thead>
  <tr>
    <partial name="Partail/CarbonUIComponents/SortableTh" model="@("№")"/>
    <partial name="Partail/CarbonUIComponents/SortableTh" model="@("Элемент")"/>
    <partial name="Partail/CarbonUIComponents/SortableTh" model="@("Дата начала")"/>
    <partial name="Partail/CarbonUIComponents/SortableTh" model="@("Срок")"/>
    <partial name="Partail/CarbonUIComponents/SortableTh" model="@("Статус")"/>
    <partial name="Partail/CarbonUIComponents/SortableTh" model="@("Описание")"/>
    @if (User.IsInRole(RoleEnum.AltiumDBEntitiesAdmin))
    {
      <th style="width: 30px"></th>
    }
  </tr>
  </thead>
  <tbody>
  @for (int i = 0; Model.Data != null && i < Model.Data.Count; i++)
  {
    <tr >
      <td>@Model.Data[i].Id</td>
      <td><a class="bx--link" asp-controller="CDBTasks" asp-action="Details" asp-route-id="@Model.Data[i].Id">@Model.Data[i].Item.ToString()</a></td>
      <td>@Model.Data[i].StartDate.ToString("dd.MM.yyyy")</td>
      <td>@Model.Data[i].Deadline.ToString("dd.MM.yyyy")</td>
      <td>@ProductionManagementSystem.Core.Models.Tasks.TaskStatusExtension.GetName(Model.Data[i].Status)</td>
      <td>@Model.Data[i].Description</td>
      @if (User.IsInRole(RoleEnum.AltiumDBEntitiesAdmin))
      {
        <td class="bx--table-column-menu">
          <div data-overflow-menu role="menu" tabindex="0" aria-label="Overflow menu description" class="bx--overflow-menu">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--overflow-menu__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
              <circle cx="8" cy="3" r="1"></circle><circle cx="8" cy="8" r="1"></circle><circle cx="8" cy="13" r="1"></circle>
            </svg>
            <ul class="bx--overflow-menu-options bx--overflow-menu--flip">
              <li class="bx--overflow-menu-options__option bx--table-row--menu-option">
                <button class="bx--overflow-menu-options__btn" onclick="() => location.href = '@Url.Action("Edit", new {id = Model.Data[i].Id})'">
                  <div class="bx--overflow-menu-options__option-content">
                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                      <path d="M1 13H15V14H1zM12.7 4.5c.4-.4.4-1 0-1.4 0 0 0 0 0 0l-1.8-1.8c-.4-.4-1-.4-1.4 0 0 0 0 0 0 0L2 8.8V12h3.2L12.7 4.5zM10.2 2L12 3.8l-1.5 1.5L8.7 3.5 10.2 2zM3 11V9.2l5-5L9.8 6l-5 5H3z"></path>
                    </svg> Edit
                  </div>
                </button>
              </li>
              <li class="bx--overflow-menu-options__option bx--table-row--menu-option">
                <button class="bx--overflow-menu-options__btn" data-modal-target="#modal-danger" onclick="deleteTask(@Model.Data[i].Id, () => location.reload())">
                  <div class="bx--overflow-menu-options__option-content">
                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                      <path d="M6 6H7V12H6zM9 6H10V12H9z"></path><path d="M2 3v1h1v10c0 .6.4 1 1 1h8c.6 0 1-.4 1-1V4h1V3H2zM4 14V4h8v10H4zM6 1H10V2H6z"></path>
                    </svg> Delete
                  </div>
                </button>
              </li>
            </ul>
          </div>
        </td>
      }
    </tr>
  }
  </tbody>
</table>
<!-- Pagination -->
<partial name="Partail/CarbonUIComponents/Pagination" model="@Model.Pagination"/>
</div>