@model IEnumerable<ProductionManagementSystem.Core.Models.Orders.Order>
@{
    ViewData["Title"] = "Заказы";
}
<h2>Cписок заказов</h2>
<div class="row justify-content-end">
    <div class="col-auto">
         <a class="btn btn-primary btn-sm m-1" asp-action="Create">Новый заказ</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NumSortParm"]">№</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Customer)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StartDateSortParm"]">@Html.DisplayNameFor(model => model.DateStart)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DeadlineSortParm"]">@Html.DisplayNameFor(model => model.Deadline)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParm"]">@Html.DisplayNameFor(model => model.Status)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model)
        {
            <tr onclick="location.href = '/Orders/Details/@order.Id'">
                <td>
                    @order.Id
                </td>
                <td>
                    @order.Customer
                </td>
                <td>
                    @order.DateStart.ToString("dd.MM.yyyy")
                </td>
                <td>
                    @order.Deadline.ToString("dd.MM.yyyy")
                </td>
                <td>
                    @order.Status
                </td>
                <td>
                    <div class="overflow-hidden text-truncate description">
                        @order.Description
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>