@model IEnumerable<ProductionManagementSystem.Models.Orders.Order>
@{
    ViewData["Title"] = "Заказы";
}
<h2>Cписок заказов</h2>

<p>
    <a asp-action="Create">Новый заказ</a>
</p>
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NumSortParm"]">№</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Customer)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StartDateSortParm"]">@Html.DisplayNameFor(model => model.DateStart)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DeadlineSortParm"]">@Html.DisplayNameFor(model => model.Deadline)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParm"]">@Html.DisplayNameFor(model => model.Status)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @order.Id
                </td>
                <td>
                    @order.Customer
                </td>
                <td>
                    @order.DateStart.Date
                </td>
                <td>
                    @order.Deadline.Date
                </td>
                <td>
                    @order.Status
                </td>
                <td>
                    <div class="overflow-hidden text-truncate description">
                        @order.Description
                    </div>
                </td>
                <td>
                    <a class="btn btn-light btn-sm" asp-action="Details" asp-route-id="@order.Id">Подробности</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>