@model ProductionManagementSystem.WEB.Models.LogViewModel

@{
    ViewData["Title"] = "Подробная информация";
}
<h4>Подробная информация</h4>
<div class="alert alert-info" role="alert">
    Здесь вы можете узнать подробную информацию
</div>
<hr />
<div>
    <h4>Логи</h4>
    <hr />
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.UserLogin)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.UserLogin)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-light btn-sm" asp-action="Index">Вернуться к логам</a>
    @if (Model.DesignId != null)
    {
        <a class="btn btn-light btn-sm" asp-controller="Designs" asp-action="Details" asp-route-id="@Model.DesignId">Перейти к конструктиву</a>
    }
    @if (Model.ComponentId != null)
    {
        <a class="btn btn-light btn-sm" asp-controller="Components" asp-action="Details" asp-route-id="@Model.ComponentId">Перейти к монтажу</a>
    }
    @if (Model.DeviceId != null)
    {
        <a class="btn btn-light btn-sm" asp-controller="Devices" asp-action="Details" asp-route-id="@Model.DeviceId">Перейти к прибору</a>
    }
    @if (Model.TaskId != null)
    {
        <a class="btn btn-light btn-sm" asp-controller="Tasks" asp-action="Details" asp-route-id="@Model.TaskId">Перейти к задаче</a>
    }
    @if (Model.OrderId != null)
    {
        <a class="btn btn-light btn-sm" asp-controller="Orders" asp-action="Details" asp-route-id="@Model.OrderId">Перейти к заказу</a>
    }
</div>