@model IEnumerable<ProductionManagementSystem.WEB.Models.LogViewModel>
@{
    ViewData["Title"] = "Логи";
}
<h2>Логи</h2>

<div class="table-responsive">
    <table class="table table-sm">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>
                    @log.DateTime
                </td>
                <td>
                    @log.UserLogin
                </td>
                <td>
                    @log.Message
                </td>
                <td>
                    <a class="btn btn-light btn-sm" asp-action="Details" asp-route-id="@log.Id">Подробности</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>