@model IEnumerable<ProductionManagementSystem.Models.Log>

@{
    ViewData["Title"] = "Логи";
}

<h2>Логи</h2>

<div class="table-responsive">
    <table class="table table-sm">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td style="min-width: 170px;">
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserLogin)
                </td>
                <td>
                    <div class="text-truncate td-with-log-message">
                        @Html.DisplayFor(modelItem => item.Message)
                    </div>
                </td>
                <td>
                    <a class="btn btn-light btn-sm" asp-action="Details" asp-route-id="@item.Id">Подробности</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
