@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Конструктив";
    string lastType = null;
    string url = "/Design/Show?";
    string splitByType = $"splitByType={ViewBag.SplitByType.ToString()}";
    string sort = $"sortBy={ViewBag.SortBy}";
}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/Design/Add">Добавить конструктив</a>
        </div>
        <div class="col">
            @if (ViewBag.SplitByType == "True")
            {
                <button type="button" onclick="window.location='/Design/Show?splitByType=False&@sort'" class="float-right btn btn-success">Разделение по типу</button>
            }
            else
            {
        <button type="button" onclick="window.location='/Design/Show?splitByType=True&@sort'" class="float-right btn btn-light">Разделение по типу</button>
            }
        </div>
    </div>
</div>
<div class="table-responsive-lg">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <td><a href='/Design/Show?sortBy=Id&@splitByType' class="badge badge-light">#</a></td>
                @if (ViewBag.SplitByType != "True")
                {
                    <td><a href='/Design/Show?sortBy=Type&@splitByType' class="badge badge-light">Конструктивная единица</a></td>
                }
                <td><a href='/Design/Show?sortBy=Name&@splitByType' class="badge badge-light">Наименовие</a></td>
                <td><a href='/Design/Show?sortBy=Quantity&@splitByType' class="badge badge-light">Количество</a></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in ViewBag.Designs)
            {
                @if (ViewBag.SplitByType == "True" && lastType != d.Type)
                {
                    <tr class="table-info">
                        <td colspan="3"><p class="text-center">@d.Type</p></td>
                    </tr>
                    lastType = d.Type;
                }
                <tr onclick="window.location='/Design/Edit/@d.Id'" style="cursor: pointer;">
                    <td><p>@d.Id</p></td>
                    @if (ViewBag.SplitByType != "True")
                    {
                        <td><p>@d.Type</p></td>
                    }
                    <td><p>@d.Name</p></td>
                    <td><p>@d.Quantity</p></td>
                </tr>
            }
        </tbody>
    </table>
</div>
