@model ProductionManagementSystem.Models.Device
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Прибор: " + Model.Name;
}

<div class="row">
    <div class="col">
        <h4>Подробная информация</h4>
    </div>
    <div class="col d-flex justify-content-md-end">
        <button class="btn btn-link float-right" type="button" onclick="window.print()">Распечатать(Сохранить)</button>
    </div>
</div>
<div class="alert alert-info" role="alert">
    Здесь вы можете узнать подробную информацию о @Model.Name.
</div>
<hr />
<div class="container">
    @DeviceHelper.CreateDevice(Html, Model, null)
</div>
<div>
    <a class="btn btn-light btn-sm" asp-action="Details" asp-route-id="@Model.Id">Подробности</a>
    <a class="btn btn-light btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
    <a class="btn btn-light btn-sm" asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
</div>
