@model ProductionManagementSystem.ViewModels.DeviceViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Изменение прибора";
    int index = 1;
}
<h4>Редактировать прибор</h4>
<div class="alert alert-info" role="alert">
    Здесь вы можете изменить информацию о @ViewBag.Device.Name.
</div>
<hr/>
<form method="post" action="">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="Name" class="control-label">Наименовие:</label>
                <input id="Name" name="Name" class="form-control" autocomplete="off" required value="@ViewBag.Device.Name"/>
            </div>
            <div class="form-group">
                <label for="Quantity" class="control-label">Количество на складе:</label>
                <input id="Quantity" name="Quantity" class="form-control" type="number" required value="@ViewBag.Device.Quantity" autocomplete="off" min="0"/>
            </div>
            <div class="form-group">
                <label for="Description" class="control-label">Описание:</label>
                <textarea id="Description" name="Description" class="form-control"  value="@ViewBag.Device.Description" autocomplete="off"></textarea>
            </div>
        </div>
    </div>
    <input type="number" name="Id" value="@ViewBag.Device.Id" hidden><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>
                    Монтаж
                </h3>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>№</th>
                    <th width="30%">Наименовие</th>
                    <th>Количество</th>
                    <th width="45%">Примечание</th>
                    <th class="border-0"></th>
                </tr>
                </thead>
                <tr id="comTr0">
                </tr>
                @{ index = 1; }
                @foreach (var comp in ViewBag.Device.DeviceComponentsTemplate)
                {
                    <tr id="comTr@(index)">
                        <td class="ComponentIds">
                            @index
                        </td>
                        <td>
                            <select class="ComponentSelect align-top width-100 form-select" name="ComponentIds">
                                @foreach (var c in ViewBag.Components)
                                {
                                    @if (c.Id == comp.Component.Id)
                                    {
                                        <option value="@c.Id" selected>@c.ToString()</option>
                                    }
                                    else
                                    {
                                        <option value="@c.Id">@c.ToString()</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <input class="ComponentInput align-top form-select" name="ComponentQuantity" type="number" value="@comp.Quantity" required autocomplete="off" min="0"/>
                        </td>
                        <td>
                            <textarea class="align-top w-100 form-select" name="ComponentDescriptions">@comp.Description</textarea>
                        </td>
                        <td class="border-0">
                            <button type="button" class="btn-close" aria-label="Close" onclick="removeComponent(@index)"></button>
                        </td>
                    </tr>
                    index++;
                }
            </table>
            <button type="button" onclick="createComponent()" class="btn btn-link" id="buttonCreateComponent">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                Добавить монтаж
            </button>
        </div>
        <div class="row">
            <div class="col">
                <h3>
                    Конструктив
                </h3>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>№</th>
                    <th width="30%">Наименовие</th>
                    <th>Количество</th>
                    <th width="45%">Примечание</th>
                    <th class="border-0"></th>
                </tr>
                </thead>
                <tr id="desTr0">
                </tr>
                @{ index = 1; }
                @foreach (var des in ViewBag.Device.DeviceDesignTemplate)
                {
                    <tr id="desTr@(index)">
                        <td class="DesignIds">
                            @index
                        </td>
                        <td>
                            <select class="DesignSelect align-top width-100 form-select" name="DesignIds">
                                @foreach (var d in ViewBag.Designs)
                                {
                                    @if (des.Design.Id == d.Id)
                                    {
                                        <option value="@d.Id" selected>@d.ToString()</option>
                                    }
                                    else
                                    {
                                        <option value="@d.Id">@d.ToString()</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <input class="DesignInput align-top  form-select" name="DesignQuantity" type="number" required value="@des.Quantity" autocomplete="off" min="0"/>
                        </td>
                        <td>
                            <textarea class="align-top w-100  form-select" name="DesignDescriptions">@des.Description</textarea>
                        </td>
                        <td class="border-0">
                            <button type="button" class="btn-close" aria-label="Close" onclick="removeDesign(@index)"></button>
                        </td>
                    </tr>
                    index++;
                }
            </table>
            <button type="button" onclick="createDesign()" class="btn btn-link" id="buttonCreateDesign">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                Добавить конструктив
            </button>
        </div>
    </div>
    <button class="btn btn-info" type="submit">Изменить</button>
</form>

<div>
    <a asp-action="Index">Вернуться к списку приборов</a>
</div>