@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Изменение прибора";
    int index = 1;
}

<form method="post" action="">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="Name" class="control-label">Наименовие:</label>
                <input id="Name" name="Name" class="form-control" autocomplete="off" required value="@ViewBag.Device.Name"/>
            </div>
            <div class="form-group">
                <label for="Quantity" class="control-label">Количество на складе:</label>
                <input id="Quantity" name="Quantity" class="form-control" type="number" required value="@ViewBag.Device.Quantity" autocomplete="off" min="0"/>
            </div>
        </div>
    </div>
    <input type="number" name="Id" value="@ViewBag.Device.Id" hidden><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>
                    Монтаж
                    <button type="button" onclick="createComponent()" class="btn btn-link">Добавить</button>
                    <button type="button" onclick="removeComponent()" class="btn btn-link">Удалить последний</button>
                </h3>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <td>№</td>    
                    <td>Наименовие</td>
                    <td>Количество в приборе</td>
                    <td width="40%">Примечание</td>
                </tr>
                </thead>
                <tr id="comTr0">
                </tr>
                @{index = 1; }
                @foreach (var comp in ViewBag.Device.DeviceComponentsTemplate)
                {
                    <tr id="comTr@(index)">
                        <td>
                            @index
                        </td>
                        <td>
                            <select class="ComponentSelect align-top width-100" id="Component@(index)" name="Component@(index)">
                                @foreach (var c in ViewBag.Components)
                                {
                                    @if (c.Id == comp.Component.Id)
                                    {
                                        <option value="@c.Id" selected>@c.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@c.Id">@c.Name</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <input class="ComponentInput align-top" id="Component@(index)Input" name="Component@(index)Input" type="number" value="@comp.Quantity" required autocomplete="off" min="0" />
                        </td>
                        <td>
                            <textarea class="align-top w-100" name="Component@(index)Text">@comp.Description</textarea>
                        </td>
                    </tr>
                    index++;
                }
            </table>
        </div>
        <div class="row">
            <div class="col">
                <h3>
                    Конструктив
                    <button type="button" onclick="createDesign()" class="btn btn-link">Добавить</button>
                    <button type="button" onclick="removeDesign()" class="btn btn-link">Удалить последний</button>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col" id="Designs">
                <table class="table">
                    <thead>
                        <tr>
                            <td>№</td>    
                            <td>Наименовие</td>
                            <td>Количество в приборе</td>
                            <td width="40%">Примечание</td>
                        </tr>
                    </thead>
                    <tr id="desTr0">
                    </tr>   
                    @{index = 1; }
                    @foreach (var des in ViewBag.Device.DeviceDesignTemplate)
                    {
                        <tr id="desTr@(index)">
                            <td>
                                @index
                            </td>
                            <td>
                                <select class="DesignSelect align-top width-100" id="Design@(index)" name="Design@(index)">
                                    @foreach (var d in ViewBag.Designs)
                                    {
                                        @if (des.Design.Id == d.Id)
                                        {
                                            <option value="@d.Id" selected>@d.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@d.Id">@d.Name</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <input class="DesignInput align-top" id="Design@(index)Input" name="Design@(index)Input" type="number" required value="@des.Quantity" autocomplete="off" min="0" />
                            </td>
                            <td>
                                <textarea class="align-top w-100" name="Design@(index)Text">@des.Description</textarea>
                            </td>
                        </tr>
                        index++;
                    }
                </table>
            </div>
        </div>
    </div>
    <button class="btn btn-info" type="submit">Изменить</button>
</form>

<div>
    <a asp-action="Index">Вернуться к списку приборов</a>
</div>
