@model IEnumerable<ProductionManagementSystem.WEB.Models.DeviceViewModel>
@{
    ViewData["Title"] = "Приборы";
}
<h2>Cписок приборов</h2>

<p>
    <a asp-action="Create">Создать новый прибор</a>
</p>
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NumSortParm"]">№</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Наименование</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["QuantitySortParm"]">Количество</a>
            </th>
            <th>
                Описание
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>
                    @d.Id
                </td>
                <td>
                    @d.Name
                </td>
                <td>
                    @d.Quantity
                </td>
                <td>
                    <div class="overflow-hidden text-truncate description">
                        @d.Description
                    </div>
                </td>
                <td>
                    <a class="btn btn-light btn-sm" asp-action="Details" asp-route-id="@d.Id">Подробности</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>