@model IEnumerable<ProductionManagementSystem.Models.Device>
@{
    ViewData["Title"] = "Приборы";
}
<h2>Cписок приборов</h2>

<p>
    <a asp-action="Create">Создать новый прибор</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NumSortParm"]">№</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Наименовие</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["QuantitySortParm"]">Количество</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>
                    @d.Id
                </td>
                <td>
                    @d.Name
                </td>
                <td>
                    @d.Quantity
                </td>
                <td class="td-with-buttons">
                    <a class="btn btn-light btn-sm" asp-action="Details" asp-route-id="@d.Id">Подробности</a>
                    <a class="btn btn-light btn-sm" asp-action="Edit" asp-route-id="@d.Id">Редактировать</a>
                    <a class="btn btn-light btn-sm" asp-action="Delete" asp-route-id="@d.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
