@using ProductionManagementSystem.Core.Models
@using ProductionManagementSystem.Core.Models.Devices
@using ProductionManagementSystem.Core.Models.PCB
@model ProductionManagementSystem.Core.Models.CompDbDevice

<table class="bx--data-table  bx--data-table--compact  ">
  <thead>
  <tr>
    <th >
      <span class="bx--table-header-label">№</span>
    </th>
    <th >
      <span class="bx--table-header-label">Category</span>
    </th>
    <th >
      <span class="bx--table-header-label">Designator</span>
    </th>
    <th >
      <span class="bx--table-header-label">Item</span>
    </th>
    <th >
      <span class="bx--table-header-label">Part Number</span>
    </th>
    <th >
      <span class="bx--table-header-label">Supplier</span>
    </th>
    <th >
      <span class="bx--table-header-label">Case</span>
    </th>
    <th >
      <span class="bx--table-header-label">Manufacturer</span>
    </th>
    <th >
      <span class="bx--table-header-label">Quantity</span>
    </th>
    <th >
      <span class="bx--table-header-label hidden-print">Description</span>
    </th>
  </tr>
  </thead>
  <tbody>
  @for (int i = 0; Model.UsedItems != null && i < Model.UsedItems.Count; i++)
  {
      <tr>
        <td>
          @(i + 1)
        </td>
        <td >
          @Model.UsedItems[i].Item.Category
        </td>
        <td >
          @Model.UsedItems[i].Designator
        </td>
        <td >
          <a href="@Model.UsedItems[i].Item.Path" target="_blank">@Model.UsedItems[i].Item.Name</a>
        </td>
        <td >
          @Model.UsedItems[i].Item.PartNumber
        </td>
        <td >
          @Model.UsedItems[i].Item.Supplier
        </td>
        <td >
          @Model.UsedItems[i].Item.Case
        </td>
        <td >
          @Model.UsedItems[i].Item.Manufacture
        </td>
        <td >
          @Model.UsedItems[i].Quantity
        </td>
        <td class="hidden-print">
          <span style="white-space: pre-line">@Model.UsedItems[i].Item.Description</span>
        </td>
      </tr>
       
  }
  </tbody>
</table>