@model ProductionManagementSystem.Models.OrderComponent;

@{
    ViewBag.Title = "title";
}

<h2>Создать</h2>

<h4>Заказ монтажа</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateComponent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="ComponentId" class="control-label">Монтаж</label>
                @if (ViewBag.Component is null)
                {
                    <select id="ComponentId" class="form-control" name="ComponentId" asp-items="ViewBag.Components"></select>
                }
                else
                {
                    <select id="ComponentId" class="form-control" name="ComponentId" disabled asp-items="ViewBag.Components">
                        <option selected="selected" value="@ViewBag.Component.Id" disabled="disabled">@ViewBag.Component.Name</option>
                    </select>
                }
                <span asp-validation-for="Component" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="TaskId" class="control-label">Задание №</label>
                @if (ViewBag.Component is null)
                {
                    <select id="TaskId" class="form-control" name="TaskId" asp-items="ViewBag.Tasks"></select>
                }
                else
                {
                    <select id="TaskId" class="form-control" name="TaskId" disabled asp-items="ViewBag.Tasks">
                        <option selected="selected" value="@ViewBag.TaskId" disabled="disabled">@ViewBag.TaskId</option>
                    </select>
                }
                <span asp-validation-for="Task" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStart" class="control-label"></label>
                <input asp-for="DateStart" class="form-control" readonly autocomplete="off" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" min="@ViewBag.Date" value="@ViewBag.Date" class="form-control" autocomplete="off" required/>
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" autocomplete="off" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" autocomplete="off" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку заказов</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}