@model ProductionManagementSystem.Models.OrderDesign;

@{
    ViewBag.Title = "title";
}

<h2>Создать</h2>

<h4>Заказ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDesign">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="DesignId" class="control-label">Конструктив</label>
                <input value="@ViewBag.Design.Id" name="DesignId" id="DesignId" hidden class="form-control" readonly autocomplete="off" required/>
                <br>@ViewBag.Design.Name
                <span asp-validation-for="Design" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="TaskId" class="control-label">Задание №</label>
                <input value="@ViewBag.TaskId" name="TaskId" id="TaskId" class="form-control" readonly autocomplete="off" />
                <span asp-validation-for="Task" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStart" class="control-label"></label>
                <input asp-for="DateStart" class="form-control" readonly autocomplete="off" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" min="@ViewBag.Date" value="@ViewBag.Date" class="form-control" autocomplete="off" required/>
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" autocomplete="off" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" autocomplete="off" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку заказов</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}