@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Задача №" + ViewBag.Task.Id;
    int index = 0;
}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Заказчик: @ViewBag.Task.Customer</h4>
            <h4>Статус: @ViewBag.Task.Status</h4>
            <h4>Deadline: @ViewBag.Task.Deadline.ToString("dd.MM.yyyy")</h4>
        </div>
        <div class="col">
            <button class="btn btn-link float-right" type="button" onclick="window.print()">Распечатать(Сохранить)</button>
        </div>
    </div>
</div>
<div class="accordion" id="accordionExample">
    @foreach (var device in ViewBag.Devices)
    {
        var quantity = ViewBag.QuantytiDevices[index];
        index++;
        <div class="card">
            <div class="card-header" id="heading@(device.Id)">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse@(device.Id)" aria-expanded="true" aria-controls="collapse@(device.Id)">
                        @device.Name
                    </button>
                </h2>
            </div>
            <div id="collapse@(device.Id)" class="collapse show" aria-labelledby="heading@(device.Id)" data-parent="#accordionExample">
                <div class="card-body">
                    @DeviceHelper.CreateDevice(Html, device, false, quantity)
                  </div>
            </div>
        </div>
    }
</div>
<div class="table-responsive-xl">
    <hr />
    <h4>Общее количество монтажа:
    @if (User.IsInRole(RoleEnum.Assembler) || User.IsInRole(RoleEnum.Admin))
    {
        <button type="button" class="btn btn-link btn-sm" onclick="window.location='/Task/ReceiveComponent?taskId=@ViewBag.Task.Id'">Получить</button>
    }
    </h4>
    <table style="width:100%;" class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <td>Наименование</td>
                <td>В задаче</td>
                <td>На складе</td>
                <td>Получено</td>
            </tr>
        </thead>
        @foreach (var comp in ViewBag.ComponentTemplate)
        {
            var obtainedComp = ((IEnumerable<dynamic>) ViewBag.ObtainedComponents).FirstOrDefault(c => comp.Component.Id == c.Component.Id);
            <tr @if (obtainedComp.Obtained + comp.Component.Quantity < comp.Quantity) 
                { 
                    @: class="table-danger"
                } 
                else if (comp.Quantity <= obtainedComp.Obtained) 
                { 
                    @: class="table-success"
                } 
                @if (User.IsInRole(RoleEnum.Admin) || User.IsInRole(RoleEnum.OrderPicker))
                {
                    @:onclick="window.location = '/Components/Add/@comp.Component.Id?taskId=@ViewBag.Task.Id'" style="cursor: pointer" 
                }>
                <td>@comp.Component.Name</td>
                <td>@comp.Quantity</td>
                <td>@comp.Component.Quantity</td>
                <td>@obtainedComp.Obtained</td>
            </tr>
        }
    </table>
</div>

<div class="table-responsive-xl">
    <hr />
    <h4>Общее количество конструктива:
    @if (User.IsInRole(RoleEnum.Assembler) || User.IsInRole(RoleEnum.Admin))
    {
        <button type="button" class="btn btn-link btn-sm" onclick="window.location='/Task/ReceiveDesign?taskId=@ViewBag.Task.Id'">Получить</button>
    }
    </h4>
    <table style="width:100%;" class="table table-sm table-hover">
        <thead class="thead-dark">
        <tr>
            <td>Наименование</td>
            <td>В задаче</td>
            <td>На складе</td>
            <td>Получено</td>
        </tr>
        </thead>
        @foreach (var des in ViewBag.DesignTemplate)
        {
            var obtainedDes = ((IEnumerable<dynamic>) ViewBag.ObtainedDesigns).FirstOrDefault(d => des.Design.Id == d.Design.Id);
            <tr @if (obtainedDes.Obtained + des.Design.Quantity < des.Quantity) 
                { 
                    @: class="table-danger"
                } 
                else if (des.Quantity <= obtainedDes.Obtained) 
                { 
                    @: class="table-success"
                } 
                @if (User.IsInRole(RoleEnum.Admin) || User.IsInRole(RoleEnum.OrderPicker))
                {
                    @:onclick="window.location = '/Designs/Add/@des.Design.Id?taskId=@ViewBag.Task.Id'" style="cursor: pointer" 
                }>
                <td>@des.Design.Name</td>
                <td>@des.Quantity</td>
                <td>@des.Design.Quantity</td>
                <td>@obtainedDes.Obtained</td>
            </tr>
        }
    </table>
</div>
<button type="button" class="btn btn-link" onclick="window.location='/Task/NextStage?taskId=@ViewBag.Task.Id'">
@if (User.IsInRole(RoleEnum.OrderPicker))
{   
    @: Передать монтажнику
} 
else if (User.IsInRole(RoleEnum.Admin))
{   
    @: Передать дальше
}
else if (User.IsInRole(RoleEnum.Assembler))
{   
    @: Передать настройщику
}
else if (User.IsInRole(RoleEnum.Tuner))
{   
    @: Передать сборщику
}
else if (User.IsInRole(RoleEnum.Collector))
{   
    @: Передать проверяющему
}
else if (User.IsInRole(RoleEnum.Validating))
{   
    @: Передать грузоотправителю
}
else if (User.IsInRole(RoleEnum.Shipper))
{   
    @: Завершить задачу
}
</button>