@model ProductionManagementSystem.WEB.Models.PaginationViewModel

@if (Model == null)
{
  return;
}

@{
  List<int> itemsPerPage = new List<int>() {10, 20, 30, 40, 50};

  int totalPages = Model.TotalItems / Model.ItemPerPage + (Model.TotalItems % Model.ItemPerPage == 0 ? 0 : 1);
  List<int> pages = new List<int>();
  for (int i = 1; i <= totalPages; i++)
  {
    pages.Add(i);
  }
}

<div class="bx--pagination" data-pagination>
  <div class="bx--pagination__left">
    <label
      id="select-id-pagination-count-label"
      class="bx--pagination__text"
      for="select-id-pagination-count">
      Items per page:
    </label>
    <div class="bx--select bx--select--inline bx--select__item-count">
      <select
        class="bx--select-input"
        id="select-id-pagination-count"
        aria-label="select number of items per page"
        tabindex="0" onchange="changeUrl('itemPerPage', this.value)"
        data-items-per-page asp-items="@(new SelectList(itemsPerPage, Model.ItemPerPage))">
      </select>
      <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--select__arrow" width="10" height="6" viewBox="0 0 10 6" aria-hidden="true">
        <path d="M5 6L0 1 0.7 0.3 5 4.6 9.3 0.3 10 1z"></path>
      </svg>
    </div>
    <span class="bx--pagination__text">
      <span data-displayed-item-range>@((Model.CurrentPage - 1) * Model.ItemPerPage + 1)-@(Model.CurrentPage * Model.ItemPerPage > Model.TotalItems ? Model.TotalItems: Model.CurrentPage * Model.ItemPerPage)</span> of
      <span data-total-items>@Model.TotalItems</span> items
    </span>
  </div>
  <div class="bx--pagination__right">
    <div class="bx--select bx--select--inline bx--select__page-number">
      <select
        class="bx--select-input"
        id="select-id-pagination-page"
        aria-label="select page number to view"
        tabindex="0"
        data-page-number-input onchange="changeUrl('page', this.value)"
        asp-items="@(new SelectList(pages, Model.CurrentPage))">
      </select>
      <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--select__arrow" width="10" height="6" viewBox="0 0 10 6" aria-hidden="true">
        <path d="M5 6L0 1 0.7 0.3 5 4.6 9.3 0.3 10 1z"></path>
      </svg>
    </div>
    <label
      id="select-id-pagination-page-label"
      class="bx--pagination__text"
      for="select-id-pagination-page">
      of @totalPages pages
    </label>
    <button class="bx--pagination__button bx--pagination__button--backward" @(Model.CurrentPage == 1 ? "disabled":"") tabindex="0" data-page-backward aria-label="Backward button" onclick="changeUrl('page', @Model.CurrentPage - 1)">
      <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--pagination__nav-arrow" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
        <path d="M19 23L11 16 19 9 19 23z"></path>
      </svg>
    </button>
    <button class="bx--pagination__button bx--pagination__button--forward" @(Model.CurrentPage == totalPages ? "disabled":"") tabindex="0" data-page-forward aria-label="Forward button" onclick="changeUrl('page', @Model.CurrentPage + 1)">
      <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--pagination__nav-arrow" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
        <path d="M13 9L21 16 13 23 13 9z"></path>
      </svg>
    </button>
  </div>
</div>
