@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Задача №" + ViewBag.Order.Id;
    int quantity = ViewBag.Order.QuantityDevice;
}
<div class="container">
    <div class="row">
        <div class="col">
            <p>Наименование прибора: @ViewBag.Device.Name</p>
            <p>Количество на складе: @ViewBag.Device.Quantity</p>
        </div>
        <div class="col">
            <button class="btn btn-link float-right" type="button" onclick="window.print()">Распечатать(Сохранить)</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>
                Монтаж
            </h3>
        </div>
        <div class="col">
            <h3>
                Конструктив
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col" id="Components">
            <table style="width:100%;">
                <tr>
                    <td>Наименование</td>
                    <td>В приборе</td>
                    <td>В задании</td>
                    <td>На складе</td>
                </tr>
                @foreach (var comp in ViewBag.Device.DeviceComponentsTemplate)
                {
                <tr @if (comp.Component.Quantity < comp.Quantity * quantity) { @: class="table-danger"
                    }>
                    <td>@comp.Component.Name</td>
                    <td>@comp.Quantity</td>
                    <td>@(comp.Quantity * quantity)</td>
                    <td>@comp.Component.Quantity</td>
                </tr>
                }
            </table>
        </div>
        <div class="col" id="Designs">
            <table style="width:100%;">
                <tr>
                    <td>Наименование</td>
                    <td>В приборе</td>
                    <td>В задании</td>
                    <td>На складе</td>
                </tr>
                @foreach (var des in ViewBag.Device.DeviceDesignTemplate)
                {
                    <tr @if (des.Design.Quantity < des.Quantity * quantity) { @: class="table-danger" 
                        }>
                        <td>@des.Design.Name</td>
                        <td>@des.Quantity</td>
                        <td>@(des.Quantity * quantity)</td>
                        <td>@des.Design.Quantity</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>