@using ProductionManagementSystem.Core.Models.Users
@model ProductionManagementSystem.WEB.Models.UserViewModels.ChangeRoleViewModel

<h2>Изменение ролей для пользователя @Model.UserName</h2>
 
<form asp-action="ChangeRole" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @{ int i = 0; }
        @foreach (var role in Model.AllRoles)
        {
            <div class="form-check">
                <input class="form-check-input" name="roles" type="checkbox" value="@role.Name" id="flexCheckDefault@(i)"
                       @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") @(User.Identity.Name == @Model.UserName && role.Name == RoleEnum.SuperAdmin ? "disabled=\"disabled\"" : "")>
                @if (User.Identity.Name == @Model.UserName && role.Name == RoleEnum.SuperAdmin)
                {
                    <input type="hidden" name="roles" @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") value="@role.Name">
                }
                <label class="form-check-label" for="flexCheckDefault@(i)">
                    @role.Name
                </label>
            </div>
            i++;
        }
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
