@model ProductionManagementSystem.Core.Models.PCB.Pcb

<table class="bx--data-table  bx--data-table--compact  ">
      <thead>
      <tr>
        <th >
          <span class="bx--table-header-label">№</span>
        </th>
        <th >
          <span class="bx--table-header-label">Category</span>
        </th>
        <th >
          <span class="bx--table-header-label">Designator</span>
        </th>
        <th >
          <span class="bx--table-header-label">Item</span>
        </th>
        <th >
          <span class="bx--table-header-label">Part Number</span>
        </th>
        <th >
          <span class="bx--table-header-label">Supplier</span>
        </th>
        <th >
          <span class="bx--table-header-label">Case</span>
        </th>
        <th >
          <span class="bx--table-header-label">Manufacturer</span>
        </th>
        <th >
          <span class="bx--table-header-label">Quantity</span>
        </th>
        <th >
          <span class="bx--table-header-label hidden-print">Description</span>
        </th>
      </tr>
      </thead>
      <tbody>
      @for (int i = 0; i < Model.UsedItems.Count; i++)
      {
        <tr >
          <td >
            @(i + 1)
          </td>
          @if (Model.UsedItems[i].Item == null)
          {
            <td></td>
            <td >
              @Model.UsedItems[i].Designator
            </td>
            <td colspan="5">Item not found</td>
            <td >
              @Model.UsedItems[i].Quantity
            </td>
            <td class="hidden-print"></td>
          }
          else
          {
            <td >
              @Model.UsedItems[i].Item.Category
            </td>
            <td >
              @Model.UsedItems[i].Designator
            </td>
            <td >
              @Model.UsedItems[i].Item.Name
            </td>
            <td >
              <a href="/Entities/Details/@Model.UsedItems[i].Item.Id" target="_blank">@Model.UsedItems[i].Item.PartNumber</a>
            </td>
            <td >
              @Model.UsedItems[i].Item.Supplier
            </td>
            <td >
              @Model.UsedItems[i].Item.Case
            </td>
            <td >
              @Model.UsedItems[i].Item.Manufacture
            </td>
            <td >
              @Model.UsedItems[i].Quantity
            </td>
            <td class="hidden-print">
              <span style="white-space: pre-line">@Model.UsedItems[i].Item.Description</span>
            </td>
          }
        </tr>
      }
      </tbody>
    </table>