@using ProductionManagementSystem.WEB.Helpers
@model ProductionManagementSystem.WEB.Models.Charts.BarChartData

@if (Model.Data.Count() != 0)
{
    <div style="width: 800px; height: 800px">
        <canvas id="chart"></canvas>
    </div>
    <script>     
      const ctx = document.getElementById('chart');
      const myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: @Html.Raw(@ArrayHelper.ToString(@Model.Labels)),
              datasets: [{
                  label: '@Model.Label',
                  data: @ArrayHelper.ToString(Model.Data),
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
    </script>
}

