@using ProductionManagementSystem.Models.Components
@using ProductionManagementSystem.WEB.Models.Device
@model ProductionManagementSystem.Models.Devices.Device;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Изменение прибора";
}
<h4>Редактировать прибор</h4>
<div class="alert alert-info" role="alert">
    Здесь вы можете изменить информацию о @Model.Name.
</div>
<hr/>
<form method="post" action="">
    <input asp-for="Id" hidden/>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="Name" class="control-label">Наименование:</label>
                <input id="Name" name="Name" class="form-control" autocomplete="off" required value="@Model.Name"/>
            </div>
            <div class="form-group">
                <label for="Quantity" class="control-label">Количество на складе:</label>
                <input id="Quantity" name="Quantity" class="form-control" type="number" required value="@Model.Quantity" autocomplete="off" min="0"/>
            </div>
            <div class="form-group">
                <label for="Description" class="control-label">Описание:</label>
                <textarea id="Description" name="Description" class="form-control" autocomplete="off">@Model.Description</textarea>
            </div>
        </div>
    </div>
    <input type="number" name="Id" value="@Model.Id" hidden><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>
                    Монтаж
                </h3>
            </div>
        </div>
        <div class="row table-responsive">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>№</th>
                    <th class="td-with-name">Наименование</th>
                    <th>Количество</th>
                    <th class="td-with-description">Примечание</th>
                    <th class="border-0"></th>
                </tr>
                </thead>
                @for (int i = 0; i < Model.Montages.Count(); i++)
                {
                    @Html.Partial("Partail/Device/Montageitem", new DeviceItem<Montage>()
                    {
                        Id = i,
                        Component = Model.Montages[i],
                        AllComponents = ViewBag.Montages,
                        SelectedComponentId = Model.Montages[i].ComponentId
                    });
                }
                 <tr id="@(nameof(Montage))Tr0"></tr>
            </table>
            <button type="button" onclick="createDeviceItem('@nameof(Montage)')" class="btn btn-link" id="buttonCreateMontage">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                Добавить монтаж
            </button>
        </div>
        <div class="row">
            <div class="col">
                <h3>
                    Конструктив
                </h3>
            </div>
        </div>
        <div class="row table-responsive">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>№</th>
                    <th class="td-with-name">Наименование</th>
                    <th>Количество</th>
                    <th class="td-with-description">Примечание</th>
                    <th class="border-0"></th>
                </tr>
                </thead>
                @for (int i = 0; i < Model.Designs.Count(); i++)
                {
                    @Html.Partial("Partail/Device/DesignItem", new DeviceItem<Design>()
                    {
                        Id = i,
                        Component = Model.Designs[i],
                        AllComponents = ViewBag.Designs,
                        SelectedComponentId = Model.Designs[i].ComponentId
                    });
                }
                <tr id="@(nameof(Design))Tr0"></tr>
            </table>
            <button type="button" onclick="createDeviceItem('@nameof(Design)')" class="btn btn-link" id="buttonCreateDesign">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                Добавить конструктив
            </button>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Изменить</button>
</form>

<div>
    <a asp-action="Index">Вернуться к списку приборов</a>
</div>

@section Scripts
{
    <script>
        $('.js-example-basic-single').select2();
    </script>
}
