@model IEnumerable<ProductionManagementSystem.Core.Models.Devices.Device>
@{
    ViewData["Title"] = "Приборы";
}
<h2>Cписок приборов</h2>
<div class="row justify-content-end">
    <div class="col-auto">
         <a class="btn btn-primary btn-sm" asp-action="Create">Создать новый прибор</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NumSortParm"]">№</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Наименование</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["QuantitySortParm"]">Количество</a>
            </th>
            <th>
                Описание
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var d in Model)
        {
            <tr onclick="location.href = '/Devices/Details/@d.Id'">
                <td>
                    @d.Id
                </td>
                <td>
                    @d.Name
                </td>
                <td>
                    @d.Quantity
                </td>
                <td>
                    <div class="overflow-hidden text-truncate description">
                        @d.Description
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>