@model List<ProductionManagementSystem.Core.Models.AltiumDB.Projects.Project>

@{
  ViewBag.Title = "Projects";
  Layout = "_AltiumDBLayout";
}


<div class="bx--data-table-container " data-table>
  <div class="bx--data-table-header">
    <h4 class="bx--data-table-header__title">Projects</h4>
  </div>
  <!-- Toolbar Content -->
  <section class="bx--table-toolbar ">
    <div class="bx--toolbar-content">
      <!--  Default hidden search -->
      <div class="bx--toolbar-search-container-expandable">
        <div data-search class="bx--search bx--search--sm" role="search">
          <div class="bx--search-magnifier" tabindex="0">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--toolbar-action__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M15,14.3L10.7,10c1.9-2.3,1.6-5.8-0.7-7.7S4.2,0.7,2.3,3S0.7,8.8,3,10.7c2,1.7,5,1.7,7,0l4.3,4.3L15,14.3z M2,6.5	C2,4,4,2,6.5,2S11,4,11,6.5S9,11,6.5,11S2,9,2,6.5z"></path>
            </svg>
          </div>
          <label id="search-input-label-1" class="bx--label" for="search__input-2">Search</label>
          <input class="bx--search-input" type="text" id="search__input-2" role="search" placeholder="Search" aria-labelledby="search-input-label-1">
          <button class="bx--search-close bx--search-close--hidden" title="Clear search input" aria-label="Clear search input">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M12 4.7L11.3 4 8 7.3 4.7 4 4 4.7 7.3 8 4 11.3 4.7 12 8 8.7 11.3 12 12 11.3 8.7 8z"></path>
            </svg>
          </button>
        </div>
      </div>
      <button class="bx--btn bx--btn--sm bx--btn--primary" onclick="location.href='/AltiumDB/Projects/Create'">
        Add project
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--btn__icon" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
          <path d="M17 15L17 7 15 7 15 15 7 15 7 17 15 17 15 25 17 25 17 17 25 17 25 15 17 15z"></path>
        </svg>
      </button>
    </div>
  </section>
  <table class="bx--data-table  bx--data-table--sort bx--data-table--short">
    <thead>
    <tr>
      <th></th>
      <th >
        <button class="bx--table-sort" data-event="sort" title="Name">
          <span class="bx--table-header-label">Name</span>
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
            <path d="M12.3 9.3L8.5 13.1 8.5 1 7.5 1 7.5 13.1 3.7 9.3 3 10 8 15 13 10z"></path>
          </svg>
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon-unsorted" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
            <path d="M13.8 10.3L12 12.1 12 2 11 2 11 12.1 9.2 10.3 8.5 11 11.5 14 14.5 11zM4.5 2L1.5 5 2.2 5.7 4 3.9 4 14 5 14 5 3.9 6.8 5.7 7.5 5z"></path>
          </svg>
        </button>
      </th>
      <th >
        <button class="bx--table-sort" data-event="sort" title="ReportDate">
          <span class="bx--table-header-label">Report date</span>
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
            <path d="M12.3 9.3L8.5 13.1 8.5 1 7.5 1 7.5 13.1 3.7 9.3 3 10 8 15 13 10z"></path>
          </svg>
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon-unsorted" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
            <path d="M13.8 10.3L12 12.1 12 2 11 2 11 12.1 9.2 10.3 8.5 11 11.5 14 14.5 11zM4.5 2L1.5 5 2.2 5.7 4 3.9 4 14 5 14 5 3.9 6.8 5.7 7.5 5z"></path>
          </svg>
        </button>
      </th>
      <th >
        <button class="bx--table-sort" data-event="sort" title="Variant">
          <span class="bx--table-header-label">Variant</span>
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
            <path d="M12.3 9.3L8.5 13.1 8.5 1 7.5 1 7.5 13.1 3.7 9.3 3 10 8 15 13 10z"></path>
          </svg>
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon-unsorted" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
            <path d="M13.8 10.3L12 12.1 12 2 11 2 11 12.1 9.2 10.3 8.5 11 11.5 14 14.5 11zM4.5 2L1.5 5 2.2 5.7 4 3.9 4 14 5 14 5 3.9 6.8 5.7 7.5 5z"></path>
          </svg>
        </button>
      </th>
      <th class="bx--table-column-menu" style="width: 40px">
      </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var project in Model)
    {
      <tr >
        <td>
          <img src="@project.ImagePath" class="altiumdb--entity-table--image"/>
        </td>
        <td >
          <a asp-area="AltiumDB" asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id">@project.Name</a>
        </td>
        <td >
          @project.ReportDate.ToString("dd.MM.yyyy")
        </td>
        <td >
          @project.Variant
        </td>
        <td class="bx--table-column-menu">
          <div data-overflow-menu role="menu" tabindex="0" aria-label="Overflow menu description" class="bx--overflow-menu">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--overflow-menu__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
              <circle cx="8" cy="3" r="1"></circle><circle cx="8" cy="8" r="1"></circle><circle cx="8" cy="13" r="1"></circle>
            </svg>
            <ul class="bx--overflow-menu-options bx--overflow-menu--flip">
              <li class="bx--overflow-menu-options__option bx--table-row--menu-option">
                <button class="bx--overflow-menu-options__btn"  data-modal-target="#modal-danger" onclick="showDeleteModal('Deleting a project', 'Do you really want to delete this project', () => deleteProject(@project.Id))">
                  <div class="bx--overflow-menu-options__option-content">
                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                      <path d="M6 6H7V12H6zM9 6H10V12H9z"></path><path d="M2 3v1h1v10c0 .6.4 1 1 1h8c.6 0 1-.4 1-1V4h1V3H2zM4 14V4h8v10H4zM6 1H10V2H6z"></path>
                    </svg> Delete
                  </div>
                </button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>