@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Монтаж";
    string lastType = null;
    string url = "/Component/Show?";
    string splitByType = $"splitByType={ViewBag.SplitByType.ToString()}";
    string sort = $"sortBy={ViewBag.SortBy}";
}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/Component/Add">Добавить монтаж</a>
        </div>
        <div class="col">
            @if (ViewBag.SplitByType == "True")
            {
            <button type="button" onclick="window.location='@(url)splitByType=False&@sort'" class="float-right btn btn-success">Разделение по типу</button>
            }
            else
            {
        <button type="button" onclick="window.location='@(url)splitByType=True&@sort'" class="float-right btn btn-light">Разделение по типу</button>
            }
        </div>
    </div>
</div>
<div class="table-responsive-lg">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <td><a href='@(url)sortBy=Id&@splitByType' class="badge badge-light">#</a></td>
                @if (ViewBag.SplitByType != "True")
                {
                    <td><a href='@(url)sortBy=Type&@splitByType' class="badge badge-light">Тип</a></td>
                }
                <td><a href='@(url)sortBy=Name&@splitByType' class="badge badge-light">Наименование</a></td>
                <td><a href='@(url)sortBy=Nominal&@splitByType' class="badge badge-light">Номинал</a></td>
                <td><a href='@(url)sortBy=Corpus&@splitByType' class="badge badge-light">Корпус</a></td>
                <td><a href='@(url)sortBy=Expanation&@splitByType' class="badge badge-light">Пояснение</a></td>
                <td><a href='@(url)sortBy=Manufacture&@splitByType' class="badge badge-light">Производитель</a></td>
                <td><a href='@(url)sortBy=Quantity&@splitByType' class="badge badge-light">Количество</a></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in ViewBag.Components)
            {
                @if (ViewBag.SplitByType == "True" && lastType != c.Type)
                {
                    <tr class="table-info">
                        <td colspan="7"><p class="text-center">@c.Type</p></td>
                    </tr>
                    lastType = c.Type;
                }
                    <tr onclick="window.location='/Component/Edit/@c.Id'" style="cursor: pointer;">
                        <td><p>@c.Id</p></td>
                        @if (ViewBag.SplitByType != "True")
                        {
                            <td><p>@c.Type</p></td>
                        }
                        <td><p>@c.Name</p></td>
                        <td><p>@c.Nominal</p></td>
                        <td><p>@c.Corpus</p></td>
                        <td><p>@c.Explanation</p></td>
                        <td><p>@c.Manufacturer</p></td>
                        <td><p>@c.Quantity</p></td>
                    </tr>
            }
        </tbody>
    </table>
</div>