@model IEnumerable<ProductionManagementSystem.WEB.Models.ComponentViewModel>

@{
    ViewData["Title"] = "Монтаж";
}

<h2>Cписок монтажа</h2>
<p>
    <a asp-action="Create">Создать новый</a>
</p>
<div class="row">
    <div class="col">
        <form asp-action="Index" method="get">
            <p>
                Поиск: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]"/>
                <input type="submit" value="Поиск" class="btn btn-primary" autocomplete="off"/>
                @if (@ViewData["CurrentFilter"] != null)
                {
                    <text>|</text>
                    <a asp-action="Index">Вернуться к полному списку</a>
                }
            </p>
        </form>
    </div>
    <div class="col d-flex align-items-center justify-content-end">
        @if (@ViewData["CurrentFilter"] == null)
        {
            <p class="d-flex">На складе @Model.Count() наименований монтажа</p>
        }
        else
        {
            <p class="d-flex">Было найдено @Model.Count() наименований монтажа</p>
        }
    </div>
</div>
<div class="table-responsive-xl">
    <table class="table table-sm">
        <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]">@Html.DisplayNameFor(model => model.Type)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nominal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Corpus)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["QuantitySortParm"]">@Html.DisplayNameFor(model => model.Quantity)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Explanation)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nominal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Corpus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <div class="overflow-hidden text-truncate description">
                        @Html.DisplayFor(modelItem => item.Explanation)
                    </div>
                </td>
                <td class="td-with-buttons">
                    <a class="btn btn-light btn-sm" asp-action="Details" asp-route-id="@item.Id">Подробности</a>
                    <a class="btn btn-light btn-sm" asp-action="Add" asp-route-id="@item.Id">Добавить</a>
                    <a class="btn btn-light btn-sm" asp-action="Receive" asp-route-id="@item.Id">Получить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
