@model ProductionManagementSystem.WEB.Models.Tasks.TaskItemViewModel

<tr id="devTr@(Model.Index + 1)">
  <td class="DeviceIds">@(Model.Index + 1)</td>
  <td>
    <select class="DeviceSelect align-top width-100 form-select" name="Devices[@Model.Index].DeviceId">
      @foreach (var device in Model.AllDevices)
      {
        if (Model.Device != null && device.Id == Model.Device.Id)
        {
          <option value="@device.Id" selected>@device.ToString()</option>
        }
        else
        {
          <option value="@device.Id">@device.ToString()</option>
        }
      }
    </select>
  </td>
  <td>
    <input class="DeviceInput align-top form-control" name="Devices[@Model.Index].Quantity" type="number" required autocomplete="off" min="0" value="@Model.Quantity"/>
  </td>
  <td class="border-0">
    <button type="button" class="btn-close" aria-label="Close" onclick="removeTaskItem(@(Model.Index + 1))"></button>
  </td>
</tr>