@model ProductionManagementSystem.Core.Models.Tasks.Task;

@{
    ViewBag.Title = "Удалить задачу №" + @Model.Id;
}

<div class="row">
    <div class="col">
        <h4>Удалить</h4>
        <h5>Вы уверены, что хотите удалить это?</h5>
    </div>
    <div class="col d-flex justify-content-end">
        <form asp-action="Delete" class="text-right">
            <input type="hidden" asp-for="Id"/>
            <input type="submit" value="Удалить" class="btn btn-danger btn-sm m-1"/>
        </form>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Задача №@Model.Id</h4>
            <h4>Приборы: <br/>
                @foreach (var device in Model.Devices)
                {
                    <a asp-controller="Devices" asp-action="Details" asp-route-id="@device.DeviceId">@device.Device.ToString()</a> @device.Quantity <text>шт.</text> <br/>
                }
            </h4>
            <h4>Статус: @Model.Status</h4>
            <h4>Срок: @Model.Deadline.ToString("dd.MM.yyyy")</h4>
            <h4>Описание:</h4>
            <p>@Model.Description</p>
        </div>
    </div>
</div>
