@using ProductionManagementSystem.Core.Models.Users
@using ProductionManagementSystem.Core.Models.Infrastructure
@model ProductionManagementSystem.Core.Models.Tasks.Task
@{
    ViewData["Title"] = "Задача №" + Model.Id;
}

<div class="row">
    <div class="col">
        <h4>Подробная информация</h4>
    </div>
    <div class="col d-flex justify-content-end">
        <a class="btn btn-light btn-sm m-1" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
        <a class="btn btn-light btn-sm m-1" asp-controller="Logs" asp-action="Index" asp-route-taskId="@Model.Id">Логи</a>
        <button type="button" class="btn btn-success btn-sm m-1" data-bs-toggle="modal" data-bs-target="#transferModal">Передать</button>
        <a class="btn btn-danger btn-sm m-1" asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
    </div>
</div>
<div class="alert alert-info" role="alert">
    Здесь вы можете узнать подробную информацию о задаче №@Model.Id.
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Задача №@Model.Id</h4>
            <h4>Прибор: <a asp-controller="Devices" asp-action="Details" asp-route-id="@Model.Device.Id">@Model.Device.ToString()</a></h4>
            <h4>Статус: @Model.Status.GetTasksStatusName()</h4>
            <h4>Срок: @Model.Deadline.ToString("dd.MM.yyyy")</h4>
            <h4>Описание:</h4>
            <p>@Model.Description</p>
        </div>
    </div>
    <hr/>
    <div class="table-responsive-xl">
        <h4>Общее количество монтажа:
            <a class="btn btn-light btn-sm" asp-action="ReceiveComponent" asp-route-taskId="@Model.Id">Получить</a>
        </h4>
        <table style="width:100%;" class="table table-sm">
            <thead class="thead-dark">
            <tr>
                <th width="50%">Наименование</th>
                <th width="10%">В задаче</th>
                <th width="10%">На складе</th>
                <th width="10%">Получено</th>
                @if (User.IsInRole(RoleEnum.OrderPicker))
                {
                    <th width="20%"></th>
                }
            </tr>
            </thead>
            @foreach (var comp in Model.Device.Montages)
            {
                var obtainedComp = Model.ObtainedMontages.FirstOrDefault(d => comp.Montage.Id == d.ComponentId);
                if (obtainedComp == null)
                {
                    continue;
                }
                <tr @if (obtainedComp.Obtained + comp.Montage.Quantity < comp.Quantity) 
                    { 
                        @: class="table-danger"
                    } 
                    else if (comp.Quantity <= obtainedComp.Obtained) 
                    { 
                        @: class="table-success"
                    } 
                >
                    <td><a asp-controller="Montages" asp-action="Details" asp-route-id="@comp.Montage.Id">@comp.Montage.ToString()</a></td>
                    <td>@comp.Quantity</td>
                    <td>@comp.Montage.Quantity</td>
                    <td>@obtainedComp.Obtained</td>
                    @if (User.IsInRole(RoleEnum.OrderPicker))
                    {
                        <td>
                            <a class="btn btn-light btn-sm" asp-controller="MontagesSupplyRequest" asp-action="Create" asp-route-componentId="@comp.Montage.Id" asp-route-taskId="@Model.Id">Добавить заявку</a>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
    <div class="table-responsive-xl">
        <h4>Общее количество конструктива:
            <a class="btn btn-light btn-sm" asp-action="ReceiveDesign" asp-route-taskId="@Model.Id">Получить</a>
        </h4>
        <table style="width:100%;" class="table table-sm">
            <thead class="thead-dark">
            <tr>
                <th width="50%">Наименование</th>
                <th width="10%">В задаче</th>
                <th width="10%">На складе</th>
                <th width="10%">Получено</th>
                @if (User.IsInRole(RoleEnum.OrderPicker))
                {
                    <th width="20%"></th>
                }
            </tr>
            </thead>
            @foreach (var des in Model.Device.Designs)
            {
                var obtainedDes = Model.ObtainedDesigns.FirstOrDefault(d => des.ComponentId == d.ComponentId);
                if (obtainedDes == null)
                {
                    continue;
                }
                <tr @if (obtainedDes.Obtained + des.Design.Quantity < des.Quantity) 
                    { 
                        @: class="table-danger"
                    } 
                    else if (des.Quantity <= obtainedDes.Obtained) 
                    { 
                        @: class="table-success"
                    } 
                >
                    <td><a asp-controller="Designs" asp-action="Details" asp-route-id="@des.Design.Id">@des.Design.ToString()</a></td>
                    <td>@des.Quantity</td>
                    <td>@des.Design.Quantity</td>
                    <td>@obtainedDes.Obtained</td>
                    @if (User.IsInRole(RoleEnum.OrderPicker))
                    {
                        <td>
                            <a class="btn btn-light btn-sm" asp-controller="DesignsSupplyRequest" asp-action="Create" asp-route-designId="@des.Design.Id" asp-route-taskId="@Model.Id">Добавить заявку</a>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
<br>
<hr/>
<h3>Логи</h3>
@* <partial name="Partail/_LogsPartail" model="@ViewBag.Logs"/> *@
<div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transferModalLabel">Передача задачи</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Transfer" id="transferForm">
                    <input name="taskId" value="@Model.Id" hidden>
                    <div class="mb-3">
                        <label for="to" class="col-form-label"></label>
                        <select class="form-select" id="to" name="to" asp-items="ViewBag.States" onchange="changeStateTransfer()"></select>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="full" id="radioTransferTrue" checked value="true">
                            <label class="form-check-label" for="radioTransferTrue">
                                Предать полностью
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="full" id="radioTransferFalse" value="false">
                            <label class="form-check-label" for="radioTransferFalse">
                                Предать частично
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Примечание:</label>
                        <textarea class="form-control" id="message-text" name="message"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" onclick="document.querySelector('#transferForm').submit()">Передать</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        changeStateTransfer();
    </script>
}
