@model IEnumerable<ProductionManagementSystem.WEB.Models.TaskViewModel>
@{
    ViewData["Title"] = "Задачи";
    var nullDate = new DateTime();
}
<h2>Cписок задач</h2>

<p>
    <a asp-action="Create">Создать новую задачу</a>
</p>
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NumSortParm"]">№</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DeviceSortParm"]">Прибор</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StartDateSortParm"]">Дата начала</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DeadlineSortParm"]">Срок</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParm"]">Статус</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OrderIdSortParm"]">№ заказа</a>
            </th>
            <th>
                Описание
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>
                    @t.Id
                </td>
                <td>
                    @t.Device.ToString()
                </td>
                <td>
                    @t.StartTime.Date
                </td>
                <td>
                    @t.Deadline.Date
                </td>
                <td>
                    @t.Status
                </td>
                <td>
                    @t.OrderId
                </td>
                <td>
                    <div class="overflow-hidden text-truncate description">
                        @t.Description
                    </div>
                </td>
                <td>
                    <a class="btn btn-light btn-sm" asp-action="Details" asp-route-id="@t.Id">Подробности</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>