@model ProductionManagementSystem.Core.Models.Tasks.Task;

@{
    ViewBag.Title = "Получение конструктива";
}
<a class="btn btn-light" asp-action="Details" asp-route-id="@Model.Id">Перейти к задаче</a>
<form action="" method="post">
    <input hidden value="@Model.Id" name="taskId">
    <table class="table table-sm">
        <thead>
        <tr>
            <td>Наименование</td>
            <td>Количество в задаче</td>
            <td>Количество на складе</td>
            <td>Получено</td>
            <td>Получить</td>
        </tr>
        </thead>
        @foreach (var des in Model.Device.Designs)
        {
            var obtainedDes = Model.ObtainedDesigns.FirstOrDefault(d => des.ComponentId == d.ComponentId);
            if (obtainedDes == null)
            {
                continue;
            }
            
            <tr @if (obtainedDes.Obtained + des.Design.Quantity < des.Quantity) 
                { 
                    @: class="table-danger"
                } 
                else if (des.Quantity <= obtainedDes.Obtained) 
                { 
                    @: class="table-success"
                } > 
                <td>@des.Design.ToString()</td>
                <td>@des.Quantity</td>
                <td>@des.Design.Quantity</td>
                <td>@obtainedDes.Obtained</td>
                <td><input type="number" name="designObt" autocomplete="off" required min="-@obtainedDes.Obtained" max="@des.Design.Quantity" style="width:100px;" value="0"></td>
            </tr>
            <input type="number" name="obtainedCompIds" hidden value="@obtainedDes.Id"/>
        }
    </table>
    <button class="btn btn-primary">Получить</button>
</form>