@model ProductionManagementSystem.Core.Models.Tasks.Task

@{
    ViewBag.Title = "Получение монтажа";
}
<a class="btn btn-light btn-sm" asp-action="Details" asp-route-id="@Model.Id">Перейти к задаче</a>
<button class="btn btn-sm btn-primary" onclick="receiveAll()">Получить всё</button>
<form action="" method="post">
    <input hidden value="@Model.Id" name="taskId">
    <table class="table table-sm">
        <thead>
        <tr>
            <td>Наименование</td>
            <td>Количество в задаче</td>
            <td>Количество на складе</td>
            <td>Получено</td>
            <td>Получить</td>
        </tr>
        </thead>
        @foreach (var obtainedComp in Model.ObtainedMontages )
        {
            var comp = Model.Device.Montages.FirstOrDefault(om => obtainedComp.ComponentId == om.ComponentId);
            if (comp == null)
            {   
                continue;
            }
            
            <tr @if (obtainedComp.Obtained + comp.Montage.Quantity < comp.Quantity) 
                { 
                    @: class="table-danger"
                } 
                else if (comp.Quantity <= obtainedComp.Obtained) 
                { 
                    @: class="table-success"
                }> 
                <td>@comp.Montage.ToString()</td>
                <td>@comp.Quantity</td>
                <td>@comp.Montage.Quantity</td>
                <td>@obtainedComp.Obtained</td>
                <td><input type="number" name="componentObt" autocomplete="off" required min="-@obtainedComp.Obtained" max="@comp.Montage.Quantity"  style="width:100px;" value="0"></td>
            </tr>
            <input type="number" name="obtainedCompIds" hidden value="@obtainedComp.Id"/>
        }
    </table>
    <button class="btn btn-primary">Получить</button>
</form>
