@model ProductionManagementSystem.Models.Tasks.Task

@{
    ViewBag.Title = "Получение монтажа";
}
<a class="btn btn-light" asp-action="Details" asp-route-id="@Model.Id">Перейти к задаче</a>
<form action="" method="post">
    <input hidden value="@Model.Id" name="taskId">
    <table class="table table-sm">
        <thead>
        <tr>
            <td>Наименование</td>
            <td>Количество в задании</td>
            <td>Количество на складе</td>
            <td>Получено</td>
            <td>Получить</td>
        </tr>
        </thead>
        @foreach (var comp in Model.Device.Montages)
        {
            var obtainedComp = Model.ObtainedMontages.FirstOrDefault(om => comp.ComponentId == om.ComponentId);
            if (obtainedComp == null)
            {   
                continue;
            }
            
            <tr @if (comp.Quantity <= obtainedComp.Obtained) 
                { 
                    @:class="table-success" 
                }> 
                <td>@comp.Component.ToString()</td>
                <td>@comp.Quantity</td>
                <td>@comp.Component.Quantity</td>
                <td>@obtainedComp.Obtained</td>
                <td><input type="number" name="componentObt" autocomplete="off" required min="-@obtainedComp.Obtained" max="@comp.Component.Quantity" value="0"></td>
            </tr>
            <input type="number" name="componentIds" hidden value="@comp.Component.Id"/>
        }
    </table>
    <button class="btn btn-primary">Получить</button>
</form>