@model ProductionManagementSystem.WEB.Models.ComponentsSupplyRequestViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutInDevelop.cshtml";
}

<div class="row">
    <div class="col">
        <h4>Подробная информация</h4>
    </div>
    <div class="col d-flex justify-content-end">
        @* <a class="btn btn-light btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> *@
        @* <a class="btn btn-light btn-sm" asp-action="Delete" asp-route-id="@Model.Id">Удалить</a> *@
        @* <a class="btn btn-light btn-sm" asp-controller="Logs" asp-action="Index" asp-route-taskId="@Model.Id">Логи</a> *@
        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#@ViewBag.Modal.NameModal">Изменить статус</button>
    </div>
</div>
<div class="alert alert-info" role="alert">
    Здесь вы можете узнать подробную информацию о заявке на снабжение монтажа №@Model.Id.
</div>
<hr />
<div>
    <h4>ComponentsSupplyRequestViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Component.Name)
        </dt>
        <dd class = "col-sm-10">
            @Model.Component.ToString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesiredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusSupply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusSupply)
        </dd>
    </dl>
</div>

<partial name="Partail/SupplyRequest/ModalChangeStatus" model="ViewBag.Modal"/>
