@model List<ProductionManagementSystem.WEB.Models.AltiumDB.FilterViewModel>

@if (Model == null)
{
  return;
}

<div class="bx--row">
  <div class="bx--col-lg-12">
    <div class="bx--grid">
      <div class="bx--row">
        @foreach (var filter in Model)
        {
          <div class="bx--col-lg-2">
            <fieldset class="bx--fieldset" style="max-height: 200px; overflow: auto">
              <legend class="bx--label">@filter.FilterName</legend>
              @foreach (var value in filter.Values)
              {
                <div class="bx--form-item bx--checkbox-wrapper">
                  <input id="bx--checkbox-@filter.FilterName-@value.value" class="bx--checkbox" type="checkbox" value="@value.value"
                         name="@filter.FilterName" @(value.selected ? "checked" : "")>
                  <label for="bx--checkbox-@filter.FilterName-@value.value" class="bx--checkbox-label">@value.text</label>
                </div>
              }
            </fieldset>
          </div>
        }
      </div>
      <div class="bx--row">
        <div class="bx--col--auto" style="display: flex; justify-content: end">
          <button
            class="bx--btn bx--btn--tertiary bx--btn--sm"
            type="reset" onclick="location.search =''">
            Reset All
          </button>
          <button
            class="bx--btn bx--btn--tertiary bx--btn--sm"
            type="submit">
            Apply filters
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

